.now-playing {
  background-color: var(--colour-background-now-playing);
  color: var(--color-text-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: var(--spacing-l);
  width: 100%;
  position: relative;

  &__time {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    z-index: 1000; /* Ensure it stays above other elements */
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    flex-direction: row;
    gap: var(--spacing-m);
  }

  &__cover {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-m);
    text-align: center;
  }

  &__image {
    box-shadow: 1px 1px 16px -2px rgba(0, 0, 0, 0.3);
    height: auto;
    width: 250px;
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
  }

  &__details {
    margin-bottom: var(--spacing-m);
  }

  &__track {
    font-weight: var(--font-weight-heading);
    margin: 0;
  }

  &__artists {
    opacity: 0.8;
    margin: 0;
  }

  .controls {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .now-playing__album {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0.5rem;
    opacity: 0.6;
  }

  .control-button {
    background-color: var(--color-text-primary);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:hover {
      background-color: var(--color-text-primary-hover);
      transform: scale(1.1);
    }

    i {
      display: block;
    }

    &.prev {
      background-color: #000000;
    }

    &.play-pause {
      background-color: #000000;
    }

    &.next {
      background-color: #000000;
    }
  }

  @media only screen and (min-width: 767px) {
    padding: 10%;
    width: 100%;
    &__content {
      flex-direction: row;
      gap: var(--spacing-l);
    }

    &__image {
      width: 300px;
    }

    &__details {
      text-align: left;
    }
  }
}